extends base

block content

    #head
        a.btn.btn-primary(href="/logout") Logout

    #msgs
    #users

    form#chatForm
        label(for="msg") #{user}:&nbsp;
        input#msg(type="text")
        button#sendBtn.btn.btn-primary Send

        script(src="http://localhost:8080/socket.io/socket.io.js")

        script

            var toRad = function (value) {
                return value * Math.PI / 180;
            }

            var getDistance1 = function (lat1, lon1, lat2, lon2) {
                var R = 6371; // km
                var dLat = toRad(lat2-lat1);
                var dLon = toRad(lon2-lon1);
                var lat1 = toRad(lat1);
                var lat2 = toRad(lat2);

                var a = Math.sin(dLat/2) * Math.sin(dLat/2) +
                    Math.sin(dLon/2) * Math.sin(dLon/2) * Math.cos(lat1) * Math.cos(lat2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
                var d = R * c;

                return d;
            }

            var getDistance = function (b1, l1, b2, l2) {
                b1 = b1 / 180 * Math.PI;
                l1 = l1 / 180 * Math.PI;
                b2 = b2 / 180 * Math.PI;
                l2 = l2 / 180 * Math.PI;

                var la = Math.sin(b1) * Math.sin(b2) + Math.cos(b1) * Math.cos(b2) * Math.cos(l2 - l1);

                var e = Math.atan(Math.sin(b1) * Math.sin(b2) + Math.cos(b1) * Math.cos(b2) * Math.cos(l2 - l1));
                var result = e * 6378.137;

                debugger;
                return result;
            }


            var saveHistory = function (line) {
                if (localStorage.length > 10) {
                    for (var i = 1; i < 11; i++) {
                        localStorage.setItem(i, '');
                    }
                }
                for (var i = 10; i > 1; i--) {
                    localStorage.setItem(i, localStorage.getItem(i - 1));
                }
                localStorage.setItem(1, line);
            };

            var getHistory = function () {
                for (var i = 10; i > 0; i--) {
                    var item = localStorage.getItem(i);
                    if (item !== 'null') {
                        $('#msgs').append(item);
                    }
                }
            }

            var socket = io.connect('http://localhost:8080');
            if (false) {
                socket.on('connect', function () {
                    var geolocation = navigator.geolocation;

                    geolocation.getCurrentPosition(function (pos) {
                        var lat = pos.coords.latitude;
                        var long = pos.coords.longitude;

                        var data = {
                            name: "#{user}",
                            position: {
                                "lat": lat,
                                "long": long
                            }
                        }

                        var data = JSON.stringify(data);
                        getHistory();
                        socket.emit("join", data);
                    });
                });
            } else {
                socket.on('connect', function () {
                    var data = {
                        name: "#{user}",
                        position: {
                            "lat": 52.525191,
                            "long": 13.413883
                       }
                   }
                   var data = JSON.stringify(data);
                   getHistory();
                   socket.emit("join", data);
               })
            }

            $('#sendBtn').on('click', function (e) {
                e.preventDefault();
                var name = '#{user}',
                    msg = $('#msg').val();

                socket.emit("msg", '{"msg": "' + msg + '"}');
                $('#msg').val('');
            });

            socket.on('msg', function (msg) {

                var now = new Date();
                var hours = now.getHours();
                hours = (hours < 10) ? '0' + hours : hours;
                var minutes = now.getMinutes();
                minutes = (minutes < 10) ? '0' + minutes : minutes;
                var time = hours + ':' + minutes;

                var data = JSON.parse(msg);

                var msg = '<div>' + time + ' - <b>' + data.name + '</b>: ' + data.msg + '</div>';

                saveHistory(msg);

                $('#msgs').append($(msg));
            });

            socket.on('join', function (msg) {
                var data = JSON.parse(msg);
                $('#users').empty();

                var names = Object.keys(data.users);

                var myPos = data.users['#{user}'];
                var myPos = {"lat": 48.3548753, "long": 11.7920352};

                for (var i = 0; i < names.length; i++) {

                    var pos = data.users[names[i]];
                    var distance = getDistance(pos.lat, pos.long, myPos.lat, myPos.long);

                    var user = $('<div>' + names[i] + ' (' + distance + ')</div>');
                    $('#users').append(user);

                }
            });

